html, body {
 font-family: 'Gentium Basic', serif;
}
html, body {
  height: 100%;
}
body {
  min-height: 100%;
}
#wrapper {
  height: 100%;
}
html {
  background-color: #3d2c66;
  background-image:
    linear-gradient(30deg,  #514266 12%, transparent 12.5%, transparent 87%, #514266 87.5%, #514266),
    linear-gradient(150deg, #514266 12%, transparent 12.5%, transparent 87%, #514266 87.5%, #514266),
    linear-gradient(30deg,  #514266 12%, transparent 12.5%, transparent 87%, #514266 87.5%, #514266),
    linear-gradient(150deg, #514266 12%, transparent 12.5%, transparent 87%, #514266 87.5%, #514266),
    linear-gradient(60deg,  #9189aa 25%, transparent 25.5%, transparent 75%, #9189aa 75%,   #9189aa),
    linear-gradient(60deg,  #9189aa 25%, transparent 25.5%, transparent 75%, #9189aa 75%,   #9189aa);
  background-size: 40px 70px;
  background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 100px);
  padding: 0;t
  background-color: #171022;
  box-shadow: 0px 0px 2px #89098e,
              0px 0px 20px #38033b;
}
body, a {
  color: #171022;
}
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex:1;
  background-color:#171022;
}
#column {
  display: flex;
  flex: 1;
  background-color:#fff;
}
#heading-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #171022;
  color: #ffffff;
}
h1, h2 {
  letter-spacing: 1px;
}
h1 {
  display: inline-block;
  font-size: 36px;
  margin: 0 20px;
  line-height: 60px;
  text-shadow:
    2px 0px 1px #043d0b,
    2px 2px 1px #043d0b,
    0px 2px 1px #043d0b,
    -2px 2px 1px #043d0b,
    -2px 0px 1px #043d0b,
    -2px -2px 1px #043d0b,
    0px -2px 1px #043d0b,
    2px -2px 1px #043d0b;
}
h2 {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  margin: 0;
  background-color: #3d2c66;
}
h2 a {
  color: #fff;
}
nav#top {
  display: inline-block;
  margin: 0 20px;
}
nav#top ul, nav#top li {
  display: inline;
  list-style: none;
}
nav#top a {
  color: #fff;
  letter-spacing: 1px;
  font-size: 20px;
  text-decoration: none;
  padding: 5px;
  vertical-align: middle;
  text-shadow:
    2px 0px 1px #043d0b,
    2px 2px 1px #043d0b,
    0px 2px 1px #043d0b,
    -2px 2px 1px #043d0b,
    -2px 0px 1px #043d0b,
    -2px -2px 1px #043d0b,
    0px -2px 1px #043d0b,
    2px -2px 1px #043d0b;
}
nav#top a:hover {
  color: #9189aa;
}
div#content {
  background-color: #f7f4f9;
  min-height: 60px;
}
div#content section {
  padding: 10px;
}
table {
  margin-bottom: 20px;
}
table, th, td {
  border: 1px solid #9189aa;
  border-collapse: collapse;
}
th {
  color: #fff;
  padding: 5px;
}
table thead.category th {
  background-color: #171022;
}
table thead.columns th {
  background-color: #3d2c66;
}
table td {
  padding: 5px;
}
th h3 {
  font-size: 20px;
  line-height: 22px;
  margin: 0;
}
td.title {
  text-align: center;
  padding: 5px;
}
td.title a {
  color: #171022;
}
section.news {
  /* margin-top: 20px; */
}
.news-item {
  margin: 15px;
}
.news-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.news-head h3 {
  margin: 0 5px 0 0;
}
.news-item .author {
  padding-left: 3px;
}